<!--
(c) RGB Studios 2018 All Rights Reserved

MMMMMMMMMMMMMMMMMMMMMMMMMMMMms:-:++oyhdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh/-+sso+:::/oymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMm+-ohhhhhyso/:/oymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN/-shhhhhhhhhy+::ohNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd-/hhhhhhhhhhhys/:+dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN+-hhhhhhhhhhhhhhs/:yNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN-/hhhhhhhhhhhhhhhy/-sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs.hhhhhhhhhhhhhhhhhy/:dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMm-+hhhhhhhhhhhhhhhhhhho-sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmy+:ohhhhhhhhhhhhhhhhhhhhhy-+NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmyo//+shhhhhhhhhhhhhhhhhhhhhhhhy-+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh//+syhhhhhhhhhhhhhhhhhhhhhhhhhhhhy.sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMd/:shhhhhhhhhhhhhhhhhhhsyhhhhhhhhhhhhs`mMMMMMMMMMMMMMMMMMNmmmmNMMMMMMMMM
MMMMMMMMMMMMmho+sdNMMMMMMMMy.ohhhhhhhhhhhhhhhhhhs+-.yhhhhhhhhhhhhh-+MMMMMMMMMMMMMmy+///++///osdNMMMM
MMMMMMMMNdy+/+yyo//odNMMMMd`shhhhhhhhhhhhhhhhy+:/y+-hhhhhhhhhhhhhho.MMMMMMMMMNdo//oyhddddddhyo//yNMM
MMMMMNho//ohddddddhy+/+ymN/:hhhhhhhhhhhhhhhs/:smMMo-hhhhhhhhhhhhhhy dMMMMMmy+//shddddddddddddddh/:yM
MMMh+/+shdddddddddddddyo//`ohhhhhhhhhhhhyo:+hNMMMMd`shhhhhhhhhhhhhh`yMNds//+yddddddddddddddddddddy.s
MMM-oddddddddhhhhddddddddh.ohhhhhhhhhhho:+dMMMMMMMMs.shhhhhhhhhhhhh`/o//shddddddddddho////+hddddddy`
MMM-sddddddy//oo+:oddddddd./hhhhhhhhhh::dMMMMMMMMMMMy-+yhhhhhhhhyo/-+ydddddddddddddh.+mMMms.ydddddd:
MMM-sdddddy`yMMMMm:/dddddd..sssssssss:.mMMMMMMMMMMMNNd+-+yyyys+:/ohdddddddddddddddds`NMMMMM.+dddddd+
MMM-sdddddo-MMMMMMs.dddddd.+ssssssssss::NMMMMNmyo++//+/-`...-+sddddddddddddddddddddd-/dNNm+.hdddddd-
MMM-sdddddh-/dNNNs-sdddddd.sddddddddddd/-mNy+:/oyhdddddddhyyddddddddddddddddddddddddds////sddddddds`
MMM-sddddddds////ohddddddd.sdddddddddddd+`-+ydddddddddddddddddddddddddddddddddddddddddddddddddddds.y
MMM-/yddddddddddddddddddhs.ydddddddddddo-odddddddddddddddddddddddddddddddddddddddddddddddddddddy::dM
MMMNh+:/sddddddddddddy+:/ohddddddddddh-/ddddddddddddddddddddddddddddddddddddddddddddddddddddy+-/hMMM
MMMMMM/-o::+hddddds/:+ydddddddddddddd.+dddds/::/sdddddddddddddddddddddddddddddddddddddddds:-+hMMMMMM
MMMMN-:ddddy/:/+::ohdddddddddddddddd:/dho::ohddho::+yddddddddddddddddddddddddddddddddy+::smMMMMMMMMM
MMMm./ddddddddhydddddddddddddddddddy /:/sdddddddddds/:/sdddddddddddddddddddddddddds/:+hNMMMMMMMMMMMM
MMh.oddddddddddddddddddddddddddddddo+yddddddddddddddddho.oddddddddddddddddddddyo::odMMMMMMMMMMMMMMMM
My.sdddddddddddddddddddddhs+///////+ohdddddddddddddddddd:/ddddddddddddddddds/:+yNMMMMMMMMMMMMMMMMMMM
s.ydddddddddddddddddddh+:/ydNNNNNNNdy/:+hddddddddddddddd:/dddddddddddddho::odNMMMMMMMMMMMMMMMMMMMMMM
s`ydddddddddddddddddd+-sNNNmdddddddmmNNs-/hddddddddddddd:/dddddddddddd/-ymNMMMMMMMMMMMMMMMMMMMMMMMMM
My.sdddddddddddddddh-+NNmdddddddddddddmNN+.ydddddddddddd:/ddddddddddds`dMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMh.+dddddddddddddd.oMNdddddddddddddddddNMo.hddddddddddd:/dddddddddds.hMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMd ydddddddddddd+.NNdddddddddddddddddddNM-+ddddddddddy-/ddddddddd+.yMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMN hdddddddddddd-/MNdddddddddddddddddddmMo-dddddddy+//ohddddddds:/mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMN hdddddddddddd:/MNdddddddddddddddddddNM+-dddhs//+yhdddddddy+:+dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMh`yddddddddddddo.NMdddddddddddddddddddMN.ods:./shhhhhhyso//+ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMs.sdddddddddddddd:/NNmdddddddddddddddmNN/-ddhyso++///+++o./NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
Mo.ydddddddddddddddh::dMmmdddddddddddmmMd::hdddddddddddddddy-oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
o.hdddddddddddddddddds:+dNNmmmmmmmmmNNd+:oddddddddddddddddddh.+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
h.odddddddddddddddddddds//+sddmmmddyo//sddddddddddddddddddddo.yMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
Md.+ddddddddddddddddddddddys+++++++sydddddddddddddddddddddd+.hMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMm-/ddddddddddddddddddddddddddddddddddddddddddddddddddddd/-mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMN::hdddddddddddddddddddddddddddddddddddddddddddddddddh::mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMN/-hdddddddddddddddddddddddddddddddddddddddddddddddh-/NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMo-ooooooooydddddddddddddddddddddddddddddhoooooooo-+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMddddddddy/:+yhddddddddddddddddddddddy+:/yddddddddMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMNho-+ddddddddddddddddddd+-+hNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMN-:ddddddddddddddddd/-mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMN:-hdddddddddddddd-:NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM+.+++++++++++++.+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

-->

<head>

  <title>
    {% if page.title %}
      {{ page.title }} | 
    {% endif %}
    {{ site.title }}
  </title>
  
  <meta charset="utf-8">
  <meta name="title=" content="Ignite.cards">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ignite is a quick and simple board game where players race to destroy each other's forges by timing the ignition of their bots within a battlefield of crazy combos and epic explosions!">
  <meta name="keywords" content="ignite, board game, card game, kickstarter">

  <meta name="theme-color" content="#991f1f">
  <meta name="msapplication-navbutton-color" content="#991f1f">
  <meta name="apple-mobile-web-app-status-bar-style" content="#991f1f">
  
  <!-- bootstrap, (w/ jquery, fontawesome) and roboto -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <!-- sharethis -->
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b99cbd8bc60cb00117ddc97&product=inline-share-buttons' async='async'></script>
  
  <!-- favicons (realfavicongenerator.net) -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg" color="#991f1f">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#991f1f">
  <meta name="msapplication-config" content="{{ site.baseurl }}/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#991f1f">

  <!-- facebook metadata (realfavicongenerator.net) -->
  <meta property="og:image:width" content="264">
  <meta property="og:image:height" content="264">
  <meta property="og:description" content="A game of crazy combos and epic explosions">
  <meta property="og:title" content="Ignite.cards">
  <meta property="og:image" content="{{ site.baseurl }}/assets/favicons/og-image.jpg">
  <meta property="og:url" content="http://ignite.cards">

  <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started?ref=frontendchecklist -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ignitecards">
  <!-- <meta name="twitter:image" content="{{ site.baseurl }}/assets/favicons/banner-twitter.png"> -->

  <!-- local links -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104632692-5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-104632692-5');
  </script>

</head>